*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100%;
    width:100%;
    overflow:hidden;
    background-color: #e2e5e8;
}
.navContainer{
    width:100vw;
    background-color: #0093E9;
    min-height: 95px;
    display: flex;
    justify-content: center;
    position: relative;
}
nav{
    width: 100%;
    overflow: none;
}
#navList{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}
#navLogo{
    font-size: 2.8rem;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
#navItems{
    display: flex;
    gap: 40px;
    padding-right: 10px;
}
.footerBox{
    background-color: #0093E9;
    width: 100%;
    text-align: center;
    min-height: 40px;

}
.footerBox p{
    color: azure;
    font-size: 2rem;
}
.contentBox{
    width: 50%;
    height: 100%;
    margin:auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 40px black;
}
.item{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position:relative;
    overflow: hidden;
    transition: all 0.6s 0s;
    /* box-shadow: 1px 1px 10px black;
    border-radius: 20px; */
}
.rightBox img{
    border-radius: 20px;
    transition: all 0.6s 0s;
}
.rightBox:hover{
    transform: scale(1.1);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.leftBox h2{
    font-size: 2rem;

}
.ingredientsBox{
    font-size: 1.3rem;
    padding: 10px;
}
.processBox{
    font-size: 1.1rem;
    padding-left: 20px;
}
.rightBox .overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36,34,34,0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}